.jumbotron.main-app {
    /* height: 80vh; */
    margin-bottom: 0px !important;
}

.jumbotron {
    padding: 0rem 2rem;
}

.col-md.my-class {
    background: white;
    text-align: center;
    padding: 59px 13px;
    border-radius: 15px;
    box-shadow: 0 0 15px grey;
}

#navbarDropdownMenuLink1 {
    color: #000;
}

.row.gallry-box div {
    height: 100px;
    width: 100px;
}

.row.gallry-box {
    display: flex;
    justify-content: space-around;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

.container {
    max-width: 100%;
    width: 100%;
    padding-right: 10px;
    padding-left: 6px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.ctm-m {
    padding: 60px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 4% !important;
}

@media (min-width: 320px) and (max-width: 767px) {
    .mob1 {
        width: 49%;
    }
    .mob2 {
        width: 49%;
    }
}