<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<div class="container-fluid">
    <div class="row">
        <aside class="col-lg-9">
            <div class="card" *ngIf="currentUser.username != 'admin'">
                <div class="table-responsive">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Order Date</th>
                                <th scope="col">Order No</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of orders; index as i">
                                <td>
                                    <div class="price-wrap">
                                        <span>{{item.createdAt | date: 'dd-MM-yyyy hh:mm a' }}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">{{ item.orderNo || "--" }}</var>
                                    </div>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <span>{{ item.items.length || 0 }}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">${{ item.total || "0.00" }}</var>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="currentUser.username == 'admin'" style="border: 0px;margin-top: 10px;">
                <div col-lg-3><img src="assets/admin.png" alt="logo" style="width: 200px;margin-bottom: 20px;"></div>
                <div col-lg-3><b>Hi {{ currentUser.username }}!</b></div>


                <a class="btn btn-success btn-round" data-abc="true" routerLink="/product-list">
                Go To Dashboard</a>
            </div>
        </aside>
        <aside class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="btn btn-out btn-primary btn-square btn-main" data-abc="true">
                        <b>Hi {{ currentUser.username }}!</b>
                    </a>

                    <hr />
                    <dl class="dlist-align">
                        <dt>First Name:</dt>
                        <dd class="text-right ml-3 text-capitalize">
                            {{ currentUser.firstName }}
                        </dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Last Name:</dt>
                        <dd class="text-right ml-3 text-capitalize">
                            {{ currentUser.lastName }}
                        </dd>
                    </dl>
                </div>
            </div>
        </aside>
    </div>
</div>
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg">
    <div class="container">
        <section class="footer-top padding-y">
            <div class="row">
                <aside class="col-md col-6">
                    <h6 class="title">Brands</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Adidas</a></li>
                        <li><a href="#">Puma</a></li>
                        <li><a href="#">Reebok</a></li>
                        <li><a href="#">Nike</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Company</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Find a store</a></li>
                        <li><a href="#">Rules and terms</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Help</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Money refund</a></li>
                        <li><a href="#">Order status</a></li>
                        <li><a href="#">Shipping info</a></li>
                        <li><a href="#">Open dispute</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Account</h6>
                    <ul class="list-unstyled">
                        <li><a href="#"> User Login </a></li>
                        <li><a href="#"> User register </a></li>
                        <li><a href="#"> Account Setting </a></li>
                        <li><a href="#"> My Orders </a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Social</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#"> <i class="fab fa-facebook"></i> Facebook </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-twitter"></i> Twitter </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-instagram"></i> Instagram </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-youtube"></i> Youtube </a>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- row.// -->
        </section>
        <!-- footer-top.// -->
    </div>
    <!-- //container -->
</footer>