@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.container-fluid {
    margin-top: 70px;
    height: 80vh;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.40rem
}

.profile-work a {
    color: #333;
}

.profile-work a b {
    font-size: 18px;
    margin-left: 10px;
}

.profile-work i.fa.fa-user {
    font-size: 25px;
}

.profile-work i.fa.fa-cogs {
    font-size: 25px;
}

.profile-work i.fa.fa-tasks {
    font-size: 25px;
}

.ctm-mn {
    padding: 30px;
    background: #33333314;
    height: 200px;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 6%), 0 6px 20px 0 rgb(0 0 0 / 20%) !important;
}

.side {
    padding: 30px;
    background: #33333314;
    height: 200px;
    margin-right: 30px;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 6%), 0 6px 20px 0 rgb(0 0 0 / 20%) !important;
}

.img-sm {
    width: 80px;
    height: 80px
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.table-shopping-cart .price-wrap {
    line-height: 1.2
}

.table-shopping-cart .price {
    font-weight: bold;
    margin-right: 5px;
    display: block
}

.text-muted {
    color: #969696 !important
}

a {
    text-decoration: none !important
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.dlist-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

[class*="dlist-"] {
    margin-bottom: 5px
}

.coupon {
    border-radius: 1px
}

.price {
    font-weight: 600;
    color: #212529
}

.btn.btn-out {
    outline: 1px solid #fff;
    outline-offset: -5px
}

.btn-main {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
    color: #fff;
    width: 100%
}

.btn-light {
    color: #ffffff;
    background-color: #F44336;
    border-color: #f8f9fa;
    font-size: 12px
}

.btn-light:hover {
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336
}

.btn-apply {
    font-size: 11px
}