<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<div class="row" style="margin-left: 0px !important;margin-right: 0px !important;">
</div>

<div class="row">
    <div class="col px-md-4 mt-4 mb-4">
        <img alt="logo" src={{productdtails.image}} style="
        width: 50%;
        margin-left: 10%;
    ">
    </div>
    <div class="col px-md-4 mt-4 ctm-m">

        <h4> {{productdtails.name}}</h4>
        <p><b>${{productdtails.price}}</b> </p>
        <div class="rating-wrap">
            <ul class="rating-stars">
                <li style="width: 80%" class="stars-active">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i
                ><i class="fa fa-star"></i><i class="fa fa-star"></i
                ><i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i
                ><i class="fa fa-star"></i><i class="fa fa-star"></i
                ><i class="fa fa-star"></i>
                </li>
            </ul>
            <span class="label-rating text-muted">
              {{ productdtails.reviews }} reviws</span
            >
          </div>
        <p> <span class="label-rating text-muted">
            <button
              type="button"
              (click)="addToCart($event,productdtails)"
              class="btn btn-danger"
            >
              Buy Now
            </button></span
          ></p>
        <!---- <button type="button" class="btn btn-primary">READ MORE</button>-->
    </div>
</div>


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg">
    <div class="container">
        <section class="footer-top padding-y">
            <div class="row">
                <aside class="col-md col-6">
                    <h6 class="title">Brands</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Adidas</a></li>
                        <li><a href="#">Puma</a></li>
                        <li><a href="#">Reebok</a></li>
                        <li><a href="#">Nike</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Company</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Find a store</a></li>
                        <li><a href="#">Rules and terms</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Help</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Money refund</a></li>
                        <li><a href="#">Order status</a></li>
                        <li><a href="#">Shipping info</a></li>
                        <li><a href="#">Open dispute</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Account</h6>
                    <ul class="list-unstyled">
                        <li><a href="#"> User Login </a></li>
                        <li><a href="#"> User register </a></li>
                        <li><a href="#"> Account Setting </a></li>
                        <li><a href="#"> My Orders </a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Social</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#"> <i class="fab fa-facebook"></i> Facebook </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-twitter"></i> Twitter </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-instagram"></i> Instagram </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-youtube"></i> Youtube </a>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- row.// -->
        </section>
        <!-- footer-top.// -->
    </div>
    <!-- //container -->
</footer>